<!doctype html>
<html>
<head>
    <title>movie_map</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/504ea75c01.js" crossorigin="anonymous"></script>
</head>
<body class="index">
<div class="index">

    <div>
        <h1>movie_map</h1>
        <!-- <img src="img/main.jpg" alt="film"> -->
        <div class="index">
            <a href="/login" class="indexButt"><i class="fa-solid fa-ticket"></i></span> Login</a>
            <a href="/signup" class="indexButt"><i class="fa-solid fa-map-pin"></i></span> Signup</a>
        </div>
    </div>

</div>
</body>
</html>
