<!doctype html>
<html>
<head>
    <title>moviematchmaker</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/504ea75c01.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <!-- <h1>Login</h1> -->

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/login" method="post" class="login">
        <div class="form-group">
            <input type="text" name="email" class="form-control" placeholder="email">
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="password">
        </div>

        <button type="submit" class="btn btn-default">login</button>
    </form>

    <hr>

    <p>first time? <a href="/signup">signup</a></p>

</div>
</div>
</body>
</html>
